<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <springProfile name="!prod | log">
        <include resource="logging/console-appender.xml"/>
    </springProfile>
    <springProfile name="prod, stage">
        <include resource="logging/file-appender.xml"/>
    </springProfile>
</configuration>
