version: '3.7'
services:
  mysql:
    image: mysql:8.0.27
    ports:
      - "3306:3306"
    environment:
      TZ: Asia/Seoul
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: identity
      MYSQL_PASSWORD: 1234
    command:
      - --character-set-server=utf8
      - --collation-server=utf8_unicode_ci
    volumes:
      - "./init-docker.sql:/docker-entrypoint-initdb.d/init-docker.sql"
  redis:
    container_name: redis
    image: redis:latest
    environment:
      TZ: Asia/Seoul
    command: redis-server --requirepass 1234 --port 6379
    ports:
      - "6379:6379"
    labels:
      - "name=redis"
      - "mode=standalone"